/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */

@charset "utf-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    vertical-align: baseline;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    font-size: 12px;
    line-height: 22px;
    background: #F1F2F9;
    color: #6B7386;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    min-width: 320px;
    overflow-x: hidden;
}

html {
    width: 100%;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

hr {
    border: none;
    height: 1px;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

a {
    text-decoration: none;
    blr: expression(this.onFocus=this.blur());
    outline: none;
}

img {
    border: none;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}

ul,
ol,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}


/* Form */

label,
input,
select {
    vertical-align: middle;
    border: 0;
}

input[type=submit],
input[type=button],
input[type=reset],
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="text"],
select,
button,
textarea {
    cursor: pointer;
    background: none;
    border: 0;
    -webkit-appearance: none;
}

*:focus {
    outline: none;
}


/* Clear float */

.clearfix:before,
.clearfix:after {
    content: ".";
    display: block;
    visibility: hidden;
    height: 0;
    line-height: 0;
    font-size: 0;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}

.fl {
    float: left;
}

.fr {
    float: right;
}


/* 过渡 */

.transition {
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
}


/* table布局 */

.table {
    display: table;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.inline-block {
    display: inline-block;
}

.el-dropdown-menu__item:focus, .el-dropdown-menu__item:not(.is-disabled):hover {
    background: #f2f2f2;
    color: #333;
}